html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Courier New', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../img/background.jpg");
  padding: 0;
}

.my-nav {
  background-image: url("../img/dice_fabric.png");
}

.my-nav a, .my-nav .social-media li, #g-signin {
  background: #000000;
  border-radius: 5px;
  padding: 10px;
  color: whitesmoke;
}

.home-div, .create-div, .session-div {
  background-image: url("../img/background_darker.jpg");
  height: 1000px;
  text-align: center;
  color: whitesmoke;
}

#create_sheet, .create-div {
    height: 1900px;
}

.session-div {
  text-align: left;
}

#session_table .table{
  background-image: url("../img/background_lighter.jpg");
}

.home-panel {
   width: 400px;
   height: 400px;
   background-color: slategray;
   border-radius: 10px;
   text-align: center;
 }

.session-panel {
  width: 500px;
  height: 500px;
  background-color: slategray;
  border-radius: 10px;
  text-align: center;
}

.home-panel:hover {
  cursor: pointer;
}

#create_sheet {
  background-image: url("../img/background_lighter.jpg");
  color: black;
}

#player_list li{
  margin: 5px;
}

#initative_chooser {
  text-align: right;
}

#initative_chooser li {
  margin: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


output {
  font-size: 40px;
  color: red;
}

#character_creation_form {
  margin-bottom: 100px;
}

#character_creation_form > div {
  margin: 0px 100px;
}
